<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ZhangYM.springcloud.mapper.LabelMapper">
    <resultMap id="LabelResultMap" type="com.zhangyuanming.entities.Label">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="label_name" jdbcType="VARCHAR" property="labelName"/>
        <result column="create_date" jdbcType="VARCHAR" property="createDate"/>
        <result column="update_date" jdbcType="VARCHAR" property="updateDate"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
    </resultMap>
    <update id="updateLabel"></update>
    <delete id="deleteLabel"></delete>

    <select id="listLabel" resultMap="LabelResultMap" parameterType="com.zhangyuanming.entities.Label">
        SELECT * FROM label
        <where>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="labelName != null">
                AND label_name = #{labelName}
            </if>
            <if test="createDate != null">
                AND create_date = #{createDate}
            </if>
            <if test="updateDate != null">
                AND update_date = #{updateDate}
            </if>
            <if test="remark != null">
                AND remark = #{remark}
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
        </where>
    </select>
    <select id="getLabel" resultType="com.zhangyuanming.entities.Label"></select>

    <insert id="insert" parameterType="com.zhangyuanming.entities.Label" useGeneratedKeys="true" keyProperty="id">
        insert into label
        <set>
            <if test="id != null">
                id = #{id},
            </if>
            <if test="labelName != null">
                label_name = #{labelName},
            </if>
            <if test="createDate != null">
                create_date = #{createDate},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate},
            </if>
            <if test="remark != null">
                remark = #{remark},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
        </set>
    </insert>

</mapper>
